<section>
    <h2 data-bind="html: displayName"></h2>
    <div class="row-fluid">
    	<table class="table">
    		<thead>
    			<tr>
    				<th>Name (Id:Version)</th>
    				<th>Host</th>
    				<th>Port</th>
    				<th>State</th>
    			</tr>
    		</thead>
	        <tbody data-bind="foreach: agents">
	        	<tr>
	        		<td><b><span data-bind="text: name"/></b> (<span data-bind="text: id"/>:<span data-bind="text: version"/>)</td>
	        		<td data-bind="text: host"></td>
	        		<td data-bind="text: port"></td>
	        		<td>Not implemented yet</td>
	        	</tr>
	        </tbody>
    	</table>
    </div>
</section>