<section>
    <h2 data-bind="html: displayName"></h2>
    Initialized: <span data-bind="text: state.isInitialized"/>
    <div class="row-fluid">
    	<table class="table">
    		<thead>
    			<tr>
                    <th>Name</th>
                    <th>Id</th>
                    <th>Version</th>
                    <th>Sources</th>
                    <th>Targets</th>
    			</tr>
    		</thead>
	        <tbody data-bind="foreach: state.transfers">
	        	<tr>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: id"></td>
	        		<td data-bind="text: version"></td>
                    <td data-bind="foreach: sources">
                        <!-- ko with: $root.state.getAgent(agentId) -->
                        [<span data-bind="text: host"/>] <span data-bind="text: inboundDir"/>/<span data-bind="text: $parents[1].name"/><br/>
                        <!-- /ko -->
                    </td>
                    <td data-bind="foreach: targets">
                        <!-- ko with: $root.state.getAgent(agentId) -->
                        [<span data-bind="text: host"/>] <span data-bind="text: outboundDir"/>/<span data-bind="text: $parents[1].name"/><br/>
                        <!-- /ko -->
                    </td>
	        	</tr>
	        </tbody>
    	</table>
    </div>
</section>